header{ 
    display: flex;
    justify-content: space-between;
}

header img{
    width: auto;
    height: 20px;
    margin-left: 15px;
}
#SearchBar{
    display: grid;
    width: 500px;
    grid-template-columns: 4fr 1fr;
    height: 100%
}
#SearchBar input{   
    height: 100%;
    padding: 0px;
    height: 30px;
}
button{
    float: right; 
    height: 34px;
}
iframe{
    padding-top: 50px;   
}
aside{
    float: right;
    width: 25%;
}
#tumb{
    display: grid;
    grid-template-columns: 7fr 1fr;
}