header{ 
    display: flex;
    justify-content: space-between;
}

header img{
    width: auto;
    height: 20px;
    margin-left: 15px;
}

#SearchBar{
    display: block;
    min-width: 500px;
}

#SearchBar input{
    display: block;
    min-width: 80%;
    padding: 10px;
    margin: 0px;
}


button{
    margin: 0%;
    padding: 0px;
}

